services:
  manager:
    image: ghcr.io/dp-icea/utm-manager:dev
    environment:
      BRUTM_KEY: "<BR-UTM Key>"
      BRUTM_BASE_URL: "http://api.dev.br-utm.org"
      MONGODB_URL: "mongodb://mongo:27017"
      MONGODB_DATABASE: "utm_manager"
    logging:
      driver: fluentd
      options:
        tag: utm-manager-backend
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - nginx_public
      - manager-db

networks:
  nginx_public:
    external: true
  manager-db:
    external: true
